table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:250px;
}

 th {
    border: 1px solid #dddddd;
    text-align: center;
    width:400px;
    background-color: #dddddd
    /* padding: 8px; */
}


td {
    border: 1px solid #dddddd;
    text-align: center;
    width:500px;
    
}


tr:hover {

    border: 5px solid #dddddd;

    /* background: #f0f0f5; */
  }
  clickable {
    cursor: pointer;
  }
  img{
float: right;

  }
/* tr:nth-child(even) {
    background-color: #dddddd;
} */