USE [DataBaseCar]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 27-08-18 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Adress] [nvarchar](50) NOT NULL,
	[BranchExactLocation] [nvarchar](50) NOT NULL,
	[BranchName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchExactLocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car]    Script Date: 27-08-18 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[Id] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[CurrentKilometer] [int] NOT NULL,
	[Image] [image] NULL,
	[IsProper] [bit] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[BranchExactLocation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[carType]    Script Date: 27-08-18 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[carType](
	[Type] [nvarchar](50) NOT NULL,
	[Manifacturer] [nvarchar](50) NOT NULL,
	[DailyCost] [int] NOT NULL,
	[DelayCost] [int] NOT NULL,
	[year] [int] NOT NULL,
	[automat] [bit] NOT NULL,
	[image] [varbinary](max) NULL,
 CONSTRAINT [PK_carType] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 27-08-18 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationStartDay] [date] NOT NULL,
	[LocationEndDate] [date] NOT NULL,
	[DateCarReturned] [date] NULL,
	[UserId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 27-08-18 00:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[FullName] [nvarchar](50) NOT NULL,
	[Id] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Picture] [varbinary](max) NULL,
	[UserType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Branch] ([Adress], [BranchExactLocation], [BranchName]) VALUES (N'jerusalem', N'100', N'jerusalemOfGold')
INSERT [dbo].[Branch] ([Adress], [BranchExactLocation], [BranchName]) VALUES (N'paris', N'200', N'ParisOfLight')
INSERT [dbo].[Car] ([Id], [Type], [CurrentKilometer], [Image], [IsProper], [IsAvailable], [BranchExactLocation]) VALUES (1, N'Mercedes Benz', 1, NULL, 1, 0, N'200')
INSERT [dbo].[Car] ([Id], [Type], [CurrentKilometer], [Image], [IsProper], [IsAvailable], [BranchExactLocation]) VALUES (11, N'Chevrolet', 767, NULL, 0, 0, N'200')
INSERT [dbo].[Car] ([Id], [Type], [CurrentKilometer], [Image], [IsProper], [IsAvailable], [BranchExactLocation]) VALUES (22, N'Suzuki    ', 8500, NULL, 1, 0, N'200')
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationStartDay], [LocationEndDate], [DateCarReturned], [UserId], [CarId], [Id]) VALUES (CAST(N'2018-07-15' AS Date), CAST(N'2018-07-20' AS Date), NULL, 1, 11, 63)
INSERT [dbo].[Location] ([LocationStartDay], [LocationEndDate], [DateCarReturned], [UserId], [CarId], [Id]) VALUES (CAST(N'2016-07-15' AS Date), CAST(N'2016-07-20' AS Date), CAST(N'2018-08-26' AS Date), 2, 55, 66)
INSERT [dbo].[Location] ([LocationStartDay], [LocationEndDate], [DateCarReturned], [UserId], [CarId], [Id]) VALUES (CAST(N'2018-07-15' AS Date), CAST(N'2018-07-20' AS Date), CAST(N'2018-07-19' AS Date), 2, 44, 67)
SET IDENTITY_INSERT [dbo].[Location] OFF
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_Branch] FOREIGN KEY([BranchExactLocation])
REFERENCES [dbo].[Branch] ([BranchExactLocation])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_Branch]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_carType] FOREIGN KEY([Type])
REFERENCES [dbo].[carType] ([Type])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_carType]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Car] FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Car]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_users]
GO
